.AppNew {
  font-family: sans-serif;
  text-align: center;
}

.top-container {
  border: 1px solid black;
  padding: 50px 10px;
}

.button-all {
  border: none;
  color: #fff;
  background-color: #3a8df4;
  cursor: pointer;
  padding: 12px 15px;
  margin: 10px 15px;
  border-radius: 10px;
}

.content-container {
  padding: 10px;
  border-radius: 10px;
  border: black solid 3px;
}
